<center>
	<h1 id="header">Section 4: Technology transfer</h1>
</center>
<br>
<div class="well well-lg">
	<form class="form-horizontal section4" role="form">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">Patents</span>
				<input type="text" name="patents" ng-model="forms.patents" id="patents" class="form-control" placeholder="Optional">
			</div>
			<small class="form-text text-muted">List patents filed or otherwise submitted during the reported period. Indicate country of patent office.</small>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">IP licensing (software or others)</span>
				<input type="text" name="licensing" ng-model="forms.licensing" id="licensing" class="form-control" placeholder="Optional">
			</div>
			<small class="form-text text-muted">List licenses granted.</small>
		</div>
	</form>
</div>